<header>
   <nav class="header-nav">
       <a class="header-title" href="/"> Moroccan Readers Library </a>
       <ul>
           <li> <a href="/authors"> Authors </a> </li>
           <li> <a href="/authors/new"> Add an Author </a>  </li>
           <li> <a href="/books"> Books </a></li>
           <li> <a href="/books/new"> Add a book </a></li>
       </ul>
   </nav>
</header>