<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My library</title>
</head>
<!-- Here put all the code that goes inside or outside our application -->
<body>
Before
<br>
<!-- Put the content of everythign inside our application-->
<%- body %> <!-- this adds everysingle bodysection from other pages into this body page-->
<br>
After
</body>
</html>