<!-- Ce texte sera importé de index.ejs à la partie body de layout.ejs-->
<h2>Recently Added</h2> 
<div>
    <% books.forEach(book => { %>
        <img width="150" height="100" src="<%= book.coverImagePath %>">
    <% }) %>
</div>