<!-- Ce texte sera importé de index.ejs à la partie body de layout.ejs-->
<h2 class="page-header">Recently Added</h2> 
<div>
    <%- include('partials/bookGrid', {
        books : books,
        large : true
    }) %>
</div>