@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-BlackItalic.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Bold.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Medium.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Light.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Bold.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Light.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-BlackItalic.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/fonts/MontserratAlternates-Medium.woff2') format('woff2'),
        url('/fonts/MontserratAlternates-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

